
<br>
<h2>Add a New Game </h2>
<br>
<div class="contenedor form-group">
    <form name="editForm" role="form"  novalidate  #editForm="ngForm"(ngSubmit)="openConfirmation()">
        <div class="form-group ">
            <label for="nameGame" class="form-label">Name</label>
            <input type="text" class="form-control" id="nameGame" name="nameGame" placeholder="Name of the New Game" #nameGame="ngModel"
                [(ngModel)]="game.name" required>
            <div *ngIf="editForm.controls.nameGame?.touched || editForm.controls.nameGame?.dirty" >
              <small  *ngIf="!game.name" class="form-text text-danger">
                You must give the name of the new Game
            </small>
            </div>
        </div>
        <div class="form-group ">
          <label for="developCompany" class="form-label">Developer Company</label>
          <input type="text" class="form-control" id="developCompany" name="developCompany" placeholder="Develop Company"
            [(ngModel)]="game.developer" required>
          <div *ngIf="editForm.controls.developCompany?.touched || editForm.controls.developCompany?.dirty">
            <small *ngIf="!game.developer" class="form-text text-danger">
              You must give the name of developer company
            </small>
          </div>
        </div>
        <div class="form-group ">
          <label for="description" class="form-label">Description</label>
          <textarea type="text" class="form-control" id="description" name="description" placeholder="Description of the Game"
            [(ngModel)]="game.description" maxlength="500" required></textarea>
          <div *ngIf="editForm.controls.description?.touched || editForm.controls.description?.dirty ">
            <small *ngIf="!game.description" class="form-text text-danger">
              The new game needs a description
            </small>
          </div>
        </div>
        <div class="form-group ">
            <label for="gameImage" class="form-label">Image</label>
            <input type="text" class="form-control" id="gameImage" name="gameImage" placeholder="URL Image"
                [(ngModel)]="game.url" required>
            <div *ngIf="editForm.controls.gameImage?.touched || editForm.controls.gameImage?.dirty ">
              <small *ngIf="!game.url" class="form-text text-danger">
                The new game need a image
              </small>
            </div>
        </div>
        <div class="form-group ">
          <label for="videoUrl" class="form-label">URL Video (Optional)</label>
          <input #videoUrl type="text" class="form-control" id="videoUrl" name="videoUrl" placeholder="URL Video"
              [(ngModel)]="game.videoUrl" (keyup)="checkURLYoutube()" >
          <div [hidden]="!(editForm.controls.videoUrl?.touched && editForm.controls.videoUrl?.dirty )">
            <small [hidden]="!videoUrl || validacion" class="form-text text-danger">
              example of a right URL : https://www.youtube.com/watch?v=POZqz2VvOoc
            </small>
          </div>
      </div>

        <button #saveButton type="submit" class="btn btn-success" [disabled]="editForm.form.invalid || !validacion">Save</button>
    </form>
</div>
<br>

<p-confirmDialog icon="pi pi-exclamation-triangle" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
  <ng-template pTemplate="header">
    <h3>Header Content</h3>
</ng-template>
<ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Yes" (click)="save()"></button>
</ng-template>
</p-confirmDialog>


<p-dialog header="Message" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">
<p class="p-m-0"> The Game was added successfully </p>
   <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="onSuccess()" label="Ok" styleClass="p-button-text"></p-button>
   </ng-template>
</p-dialog>

